<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.flanelowapopijava.angielski_slownictwo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="main_activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="main_activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="main_activity.MainActivity" />
        </activity>
        <activity
            android:name="expandable_lessons_list.VocabularyExpandableList"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name="lessons_vocabulary_list.LessonsVocabularyList"
            android:label="@string/title_activity_lessons_vocabulary_list"
            android:parentActivityName="expandable_lessons_list.VocabularyExpandableList"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.flanelowapopijava.angielski_slownictwo.expandable_lessons_list.VocabularyExpandableList" />
        </activity>
        <activity
            android:name="favourite_list.FavouriteList"
            android:label="@string/title_activity_favourite_list"
            android:parentActivityName="main_activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="main_activity.MainActivity" />
        </activity>
    </application>

</manifest>